{% extends "layout.html"%}<!-- Declare the parent template (layout.html)-->
{% block data %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ upload.creator.user_name }}</a>
          </div>
          <!--Href to go to the page for the individual post over the header -->
          <h2 class = "article-title">{{ upload.header }}</h2>
          <!-- Format the Date only-->
          <small class="text-muted">{{ upload.date_uploaded.strftime("%Y-%m-%d") }}</small>
          <p class="article-content">{{ upload.caption }}</p>

        </div>
    </article>
{% endblock data %}
